@import url("https://use.fontawesome.com/releases/v5.15.4/js/all.js");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {  
	--black: #1F1F1F;
  --cloud: #c7c7c780;
  --eerie-black: #1e1e1e;
  --mantis: #79bc6a;
  --mine-shaft: #2f2f2f;
  --neptune: #7bc6b6;
  --picton-blue: #3dbfeb;
	
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
  --white: #ffffff;
	--purple: #5A61CE;
	--montserrat: "Montserrat", sans-serif;
}



body {
	font-family: var(--montserrat);
  overflow-x: hidden!important;
}
body::-webkit-scrollbar {
	width: 13px;
}
body::-webkit-scrollbar-track {
	background-color: white;
}
body::-webkit-scrollbar-thumb {
	background-color: rgba(150, 150, 150, 0.6);
}
.user-name {
	width: 200px!important;
	font-size: 1.4rem!important;
	font-weight: 500!important;
}
.logo {
	width: 65px;
	transform: scale(1.08);
	margin-left: -4px;
}
.settings {
	font-size: 40px;
	transform: scale(1.08);
	margin-right: -35px!important;
}
.icon-user-settings{
	font-size: 40px;
	transform: scale(0.75);
}
.btn-login {
	color: var(--white);
	font-weight: 700;
	border-radius: 40px;
	margin: 0px 25px;
	width: 160px;
	height: 45px;
	text-align: center;
}
.btn-login:hover {
	color: var(--white);
  background-color: var(--purple);
}
.btn-login:active {
	color: var(--white);
  background-color: var(--purple);
}
.btn-register {
	color: var(--white);
	font-weight: 700;
	border-radius: 40px;
	background-color: var(--purple);
	margin: 0px 25px;
	width: 160px;
	height: 45px;
	text-align: center;
}
.btn-register:hover {
	color: var(--white);
  background-color: var(--purple);
}
.btn-register:active {
	color: var(--white);
  background-color: var(--purple);
}
.card-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
	width: 100%;
	height: 400px;
}
.overlay {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 57.5%;
  background-size: cover;
  background-position: center;
  filter: blur(23px);
  transform: scale(0.8);
  opacity: 0;
  border-radius: 25px;
  transition: opacity 0.4s ease, transform 0.5s ease;
}
.card-image {
  z-index: 2;
  border-radius: 25px;
  transition: transform 0.4s ease;
	width: 100%;
	height: 400px;
}
.card-title {
  padding-top: 10px;
  color: black;
  font-size:large;
}
.card {
  margin-top: 30px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
}
.favorite_text {
	color: black;
	text-decoration: none!important;
}
.fa-heart {
	font-size: xx-large;
	cursor: pointer;
}
.card-text {
  color: gray;
}
.nav-user {
  background-color: rgba(0,0,0,0.2)!important;
	border-radius: 20px;
}
.profile-tab {
	margin-top: 50px;
}
.img_icon_film {
	width: 200px;
}
.filmname a {
	color: black;
	text-decoration: none;
	font-size: 1rem;
}
.filmage {
	margin-left: 54px;
}
.film-name a {
	color: black;
	text-decoration: none;
}
.table td {
	padding: 1rem;
}
.content {
	margin-top: 7.5%;
	min-height: 80vh!important;
}
.card-review {
	box-shadow: none!important;
	border-radius: 15px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show:hover {
	color: var(--white);
}
.navbar {
	width: 90%;
	margin-top: 1%!important;
}
.nav-link:hover {
	color: var(--white);
}
.navbar-brand {
	font-size: 1.7rem;
	font-weight: 700;
	margin-left: 1.2rem;
	color: var(--white);
}
.navbar-brand:hover {
	color: var(--white);
}
.navbar-brand:active {
	color: var(--white);
}
.navbar-brand:visited {
	color: var(--white);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
	color: var(--white);
}
.nav-link {
	color: var(--white);
	margin: 0 20px;
	width: 160px;
	text-align: center;
}
.nav-item {
	margin: 0 10px;
	width: 160px;
}
.line::after {
  content: "";
  border-left: 2px solid var(--white);
  height: 50px;
  margin-right: 10px;
}
.navbar-nav {
	font-size: 1.2rem;
	margin-left: 50px;
}
#nav_bar .active {
  background-color: var(--purple);
	border-radius: 40px;
}
.nav-link:visited {
	color: var(--white);
}
.login-form button {
	text-transform: uppercase;
}
.bg-body-tertiary {
	backdrop-filter: blur(30px);
	background-color: rgba(130, 130, 130, 0.6)!important;
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 40px;
}
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}
.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
} 
.gradient-custom-2 {
/* fallback for old browsers */
	background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
	.gradient-form {
	height: 100vh !important;
	}
}
@media (min-width: 769px) {
	.gradient-custom-2 {
		border-top-right-radius: .3rem;
		border-bottom-right-radius: .3rem;
	}
}